.ComprarOvender {
    
    background-color: #f5f4f4;
    color: #ff991b;
    border-radius: 35px;
    padding: 10px;
    font-size: 1rem;
    cursor: pointer;
    
    
}

.ComprarOvender:hover {
  background-color: #000000;
  color: #f79620;  
}

.Nav-container{

  background-Color: "#333"; 
  color: "white"; 
  padding: "10px";
}

.Ul-container{
    list-Style: "none";
    display: "flex";
    justify-Content: "space-around";
    margin: 0;
}