/* ------- ListaProductosJardineria   tarjeta ------- */
.ComprarOvender {
    
    background-color: #f5f4f4;
    color: #ff991b;
    border-radius: 35px;
    padding: 10px;
    font-size: 1rem;
    cursor: pointer;
    
    
}

.ComprarOvender:hover {
  background-color: #000000;
  color: #f79620;  
}

/* ------- NAV ------- */
.Nav-container{

  background-color: #333; 
  color: #f0f0f0; 
  padding: 10px;
  display: flex;
  /*justify-content: center;/* mantiene los botones en el centro del navbar */
  align-items: stretch;
  
}

/*  DIV INICIO */

.drop-Inicio{
  position: relative; /* eeste sirve para ordenar los botones del nav (inicio construccion, jardineria, hogar */
  /*display: inline-block; */
}

.btn-Inicio{

  background-color: #f79620;
  color: #000000;
  display: flex;
  padding: 16px;
  font-size: 16px;
  border-radius: 16px;
  cursor: pointer;
}

.drop-content-inicio{

  display: none;
  position: absolute;
  top:100%;
  background-color: #f9f9f9; /* Color del menu cuando se desplega */
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /*le da el efecto de sombra cuando se desplega el menu */
  border-radius: 16px;  /*redondea las esquinas del menu desplegable */
  z-index: 10;
}

.drop-content-inicio a{

  color: #000000;
  padding: 12px 16px;
  text-decoration: none;
  display: block; /*es como se mostrara o desplegara el menu despues de clickear el boton inicio*/
  text-align: center; /*centra los item del boton inicio*/
}

.drop-content-inicio a:hover{
  background-color: #ddd;  /*este efecto le da el color cuando se le apoya el mouse en algun item de la lista del boton inicio */
  display: block; /* no se para que sirve */
}


 /* DIV ACERCA ARA */
.btn-Construccion{

  background-color: #f79620;
  color: #000000;
  display: flex;
  padding: 16px;
  font-size: 16px;
  border-radius: 16px;
  cursor: pointer;
}


.btn-Construccion{

  background-color: #f79620;
  color: #000000;
  display: flex;
  padding: 16px;
  font-size: 16px;
  border-radius: 16px;
  cursor: pointer;
}

.drop-Hogar{
  position: relative;
  /*display: inline-block;*/
}

.btn-Hogar{

  background-color: #f79620;
  color: #000000;
  display: flex;
  padding: 16px;
  font-size: 16px;
  border-radius: 16px;
  cursor: pointer;
}

/* DIV CONTACTO */
.btn-Jardineria{

  background-color: #f79620;
  color: #000000;
  display: flex;
  padding: 16px;
  font-size: 16px;
  border-radius: 16px;
  cursor: pointer;
  text-decoration: none;
}

.drop-Construccion,
.drop-Hogar,
.drop-Jardineria,
.drop-Inicio{

  flex-grow: 1;
  display: flex;
  /*justify-content: center;
  align-items: center;*/
}

.btn-Construccion,
.btn-Hogar,
.btn-Inicio,
.btn-Jardineria{

  background-color: #f79620;
  color: #000000;
  display: flex;
  padding: 16px;
  font-size: 16px;
  border-radius: 16px;
  cursor: pointer;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}