/* ------- ListaProductosJardineria   tarjeta ------- */
.ComprarOvender {
    
    background-color: #f5f4f4;
    color: #ff991b;
    border-radius: 35px;
    padding: 10px;
    font-size: 1rem;
    cursor: pointer;
    
    
}

.ComprarOvender:hover {
  background-color: #000000;
  color: #f79620;  
}

/* ------- NAV ------- */
.Nav-container{

  background-color: #333; 
  color: #f0f0f0; 
  padding: "10px";
  display: flex;
}

/*  DIV INICIO */

.dropdown-inicio{
  position: relative;
  display: inline-block;
}

.btn-Inicio{

  background-color: #f79620;
  color: #000000;
  display: flex;
  padding: 16px;
  font-size: 16px;
  border-radius: 16px;
  cursor: pointer;
}

.drop-content-inicio{

  display: block;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 4px;
}

.drop-content-inicio a{

  color: #000000;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.drop-content-inicio a:hover{
  background-color: #ddd;
}

.drop-content-inicio:hover .drop-content-Inicio {
  display: block;
}
 /* DIV ACERCA ARA */
.btn-Construccion{

  background-color: #f79620;
  color: #000000;
  display: flex;
  padding: 16px;
  font-size: 16px;
  border-radius: 16px;
  cursor: pointer;
}


.btn-Construccion{

  background-color: #f79620;
  color: #000000;
  display: flex;
  padding: 16px;
  font-size: 16px;
  border-radius: 16px;
  cursor: pointer;
}

.drop-Hogar{
  position: relative;
  display: inline-block;
}

.btn-Hogar{

  background-color: #f79620;
  color: #000000;
  display: flex;
  padding: 16px;
  font-size: 16px;
  border-radius: 16px;
  cursor: pointer;
}

/* DIV CONTACTO */
.btn-Jardineria{

  background-color: #f79620;
  color: #000000;
  display: flex;
  padding: 16px;
  font-size: 16px;
  border-radius: 16px;
  cursor: pointer;
  text-decoration: none;
}