/* ============== Lista Productos Jardineria =============== */

.EquipoJardineria{

    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.ProductosAra{

    background-color: #f9f9f9;
    border: 1px solid #000000;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 250px;
    padding: 20px;
    text-align: center;

}

.rol-imagen{

    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

.Nombre-Maquinaria{

        font-size: 1.5rem;
        font-weight: bold;
        margin: 0;
        color: #333;

}

.Nombre-rol{

    color: #666;
    font-size: 1rem;
    margin: 5px 0 0;
}

/* ============== GaleriaIntereses =============== */

.galeria-intereses {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  padding: 20px;
}

.interes-boton {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.interes-boton:hover {  /* cuando el cursor se pone arriba del boton */
  background-color: #e0e0e0;
}
